{
    "ethHttpProvider": "http://localhost:8545",
    "btcHttpProvider": "http://localhost:8332",
    "btcRpcUser" : "username",
    "btcRpcPassword": "password",
    "ethstartblock": 1,
    "btcstartblock": 1,
    "btcOn": true,
    "ethOn": true,
    "workerPoolSize": 6
}